.slide {
  transition: opacity 1s ease-in-out 250ms;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
  position: relative;
  width: 900px;
  height: 700px;
  padding: 40px 60px;
  box-sizing: border-box;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

  color: rgb(102, 102, 102);

  opacity: 0.3;
}
